/*Sidebar*/
#sidebar-wrapper{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 100%;
  overflow-y: hidden;
  background: #222;
  color: #fff;
}
/*Content*/
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding-left: 0;

}

header{
  height: 500px;
  background-image: url(image/Umea.jpg);
  position: relative;
  background-repeat: no-repeat;
  display: block;
  background-position-y: -500px;
}

#umeafact{
  text-align: center;
}

#umeafact h1{
  font-size: 60px;
  margin-bottom: 100px;
}

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 300px;
  position: fixed;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 300px;
}

.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #f1f1f1;
}