/*Sidebar*/
#sidebar-wrapper{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 100%;
  overflow-y: hidden;
  background: #333;
  color: #fff;

  -webkit-transition: all 0.2s ease-in-out;
}

#sidebar-wrapper img{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Content*/
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding-left: 0;
  -webkit-transition: all 0.2s ease-in-out;
}

.parallax{
  position: relative;
  background-attachment: fixed;
   background-repeat: no-repeat;
  
}

header{
  height: 500px;
  /*background-image: url(image/Umea.jpg);*/
  opacity: 0.85;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  color: #fff;
  padding: 15px;
}

header h1{
  font-size: 70px;
  text-align: center;
  color: #000;
  margin-top: 75px;
}

#startsida{
  background-image: url(image/Umea.jpg);
  background-position-y: -300px;
}

#mat{
  background-image: url(image/mat.jpg);
}

#menu-toggle{
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}

#umeafact{
  text-align: center;
  margin-bottom: 150px;
}

#umeafact h1{
  font-size: 60px;
  margin-bottom: 150px;
}

#umeafact2 h2{
  margin-bottom: 20px;
}

#umeafact2 li{
  margin-bottom: 20px;
}

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 300px;
  position: fixed;
  -webkit-transition: all 0.2s ease-in-out;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 300px;
  -webkit-transition: all 0.2s ease-in-out;
}

.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  font-size: 30px;
  position: relative;
  text-indent: 20px;
  line-height: 70px;
  width: 100%;
  display: inline-block;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #f1f1f1;
}